In [31]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/Vincent2308/Corporate-Bankruptcy/main/data/clean/merged_financials.csv"
df = pd.read_csv(url)

print("Original shape:", df.shape)

# === Mapping X1–X64 → Financial Ratio Names ===
mapping = {
    "1": "net_profit_to_assets",
    "2": "total_liabilities_to_assets",
    "3": "working_capital_to_assets",
    "4": "current_assets_to_shortterm_liabilities",
    "5": "cash_flow_to_operating_expenses",
    "6": "retained_earnings_to_assets",
    "7": "ebit_to_assets",
    "8": "equity_to_liabilities",
    "9": "sales_to_assets",
    "10": "equity_to_assets",
    "11": "gross_profit_plus_other_to_assets",
    "12": "gross_profit_to_shortterm_liabilities",
    "13": "gross_profit_plus_dep_to_sales",
    "14": "gross_profit_plus_interest_to_assets",
    "15": "liabilities_to_gross_profit_dep",
    "16": "gross_profit_dep_to_liabilities",
    "17": "assets_to_liabilities",
    "18": "gross_profit_to_assets",
    "19": "gross_profit_to_sales",
    "20": "inventory_to_sales_days",
    "21": "sales_growth",
    "22": "operating_profit_to_assets",
    "23": "net_profit_to_sales",
    "24": "gross_profit_3yr_to_assets",
    "25": "equity_minus_capital_to_assets",
    "26": "net_profit_dep_to_liabilities",
    "27": "operating_profit_to_financial_expenses",
    "28": "working_capital_to_fixed_assets",
    "29": "log_total_assets",
    "30": "liabilities_minus_cash_to_sales",
    "31": "gross_profit_plus_interest_to_sales",
    "32": "current_liabilities_to_cogs_days",
    "33": "operating_expenses_to_shortterm_liabilities",
    "34": "operating_expenses_to_liabilities",
    "35": "profit_on_sales_to_assets",
    "36": "total_sales_to_assets",
    "37": "current_assets_minus_inventory_to_longterm_liabilities",
    "38": "constant_capital_to_assets",
    "39": "profit_on_sales_to_sales",
    "40": "current_assets_minus_inventory_receivables_to_shortterm_liabilities",
    "41": "liabilities_to_operating_profit_dep",
    "42": "operating_profit_to_sales",
    "43": "receivables_inventory_turnover_days",
    "44": "receivables_to_sales_days",
    "45": "net_profit_to_inventory",
    "46": "current_assets_minus_inventory_to_shortterm_liabilities",
    "47": "inventory_to_cogs_days",
    "48": "ebitda_to_assets",
    "49": "ebitda_to_sales",
    "50": "current_assets_to_liabilities",
    "51": "shortterm_liabilities_to_assets",
    "52": "shortterm_liabilities_to_cogs_days",
    "53": "equity_to_fixed_assets",
    "54": "constant_capital_to_fixed_assets",
    "55": "working_capital",
    "56": "sales_minus_cogs_to_sales",
    "57": "current_minus_inventory_minus_stli_to_salesminusprofitminusdep",
    "58": "total_costs_to_sales",
    "59": "longterm_liabilities_to_equity",
    "60": "sales_to_inventory",
    "61": "sales_to_receivables",
    "62": "shortterm_liabilities_to_sales_days",
    "63": "sales_to_shortterm_liabilities",
    "64": "sales_to_fixed_assets"
}



rename_dict = {}

for col in df.columns:

    if col.startswith("Attr"):
        core = col.replace("Attr", "")
        parts = core.split(".")

        xnum = parts[0]                # 1, 2, 3 ... 64
        year = parts[1] if len(parts) > 1 else "1"

        if xnum in mapping:
            rename_dict[col] = f"{mapping[xnum]}_year{year}"

    if col.startswith("class"):
        # class.4 → bankrupt_year4
        parts = col.split(".")
        year = parts[1] if len(parts) > 1 else "1"
        rename_dict[col] = f"bankrupt_year{year}"

df = df.rename(columns=rename_dict)

print("Renamed columns:", len(rename_dict))
print("First 10 columns after rename:", list(df.columns)[:10])

df.head()

Original shape: (10503, 330)
Renamed columns: 325
First 10 columns after rename: ['id', 'net_profit_to_assets_year1', 'total_liabilities_to_assets_year1', 'working_capital_to_assets_year1', 'current_assets_to_shortterm_liabilities_year1', 'cash_flow_to_operating_expenses_year1', 'retained_earnings_to_assets_year1', 'ebit_to_assets_year1', 'equity_to_liabilities_year1', 'sales_to_assets_year1']

/var/folders/_t/2xhkkvpd70v6f_zb6myqk2l40000gn/T/ipykernel_901/396817395.py:5: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,21,22,24,25,26,27,28,29,32,33,34,35,36,37,38,40,41,45,46,47,48,50,51,52,53,54,57,59,60,61,63,64,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,137,141,147,156,173,199,200,201,202,203,204,205,206,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,254,255,256,257,258,259,260,261,262,265,266,267,268,269,270,271,272,273,274,275,276,278,279,280,281,282,285,286,288,289,290,291,292,293,296,297,298,299,300,301,302,304,305,309,310,311,312,314,315,316,317,318,321,323,324,325,327,328) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

,id,net_profit_to_assets_year1,total_liabilities_to_assets_year1,working_capital_to_assets_year1,current_assets_to_shortterm_liabilities_year1,cash_flow_to_operating_expenses_year1,retained_earnings_to_assets_year1,ebit_to_assets_year1,equity_to_liabilities_year1,sales_to_assets_year1,...,sales_minus_cogs_to_sales_year4,current_minus_inventory_minus_stli_to_salesminusprofitminusdep_year4,total_costs_to_sales_year4,longterm_liabilities_to_equity_year4,sales_to_inventory_year4,sales_to_receivables_year4,shortterm_liabilities_to_sales_days_year4,sales_to_shortterm_liabilities_year4,sales_to_fixed_assets_year4,bankrupt_year4
0,1.0,0.20055,0.37951,0.39641,2.0472,32.351,0.38825,0.24976,1.3305,1.1389,...,0.080955,0.27543,0.91905,0.002024,7.2711,4.7343,142.760,2.5568,3.2597,0.0
1,2.0,0.20912,0.49988,0.47225,1.9447,14.786,0,0.25834,0.99601,1.6996,...,-0.028591,-0.012035,1.00470,0.15222,6.0911,3.2749,111.140,3.2841,3.37,0.0
2,3.0,0.24866,0.69592,0.26713,1.5548,-1.1523,0,0.30906,0.43695,1.309,...,0.123960,0.19229,0.87604,0.0,8.7934,2.987,71.531,5.1027,5.6188,0.0
3,4.0,0.081483,0.30734,0.45879,2.4928,51.952,0.14988,0.092704,1.8661,1.0571,...,0.418840,-0.79602,0.59074,2.8787,7.6524,3.3302,147.560,2.4735,5.9299,0.0
4,5.0,0.18732,0.61323,0.2296,1.4063,-7.3128,0.18732,0.18732,0.6307,1.1559,...,0.240400,0.10716,0.77048,0.13938,10.118,4.095,106.430,3.4294,3.3622,0.0

In [33]:
# Step 1: Replace '?' with NaN
df = df.replace('?', np.nan)

# Step 2: Identify ratio columns (Attr1, Attr1.2, etc.)
ratio_cols = [c for c in df.columns if c.startswith("Attr")]

# Step 3: Convert ratio columns to numeric
for col in ratio_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Step 4: Identify target columns (class, class.2, class.3, etc.)
target_cols = [c for c in df.columns if c.startswith("class")]

# Step 5: Convert target columns
for col in target_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Step 6: Drop rows with missing targets for chosen year
# We pick year 4 because your example showed class.4
if "class.4" in df.columns:
    df = df[df["class.4"].notna()]

# Convert to int after cleaning
df["class.4"] = df["class.4"].astype(int)

# Step 7: Clean up remaining NaN in ratio columns (optional)
df = df.dropna()

print("Cleaned shape:", df.shape)
print(df.head())

KeyError: 'class.4'