In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:

url = "https://raw.githubusercontent.com/Vincent2308/Corporate-Bankruptcy/main/data/clean/merged_financials.csv"
df = pd.read_csv(url)

print("Shape:", df.shape)
df.head()

Shape: (10503, 330)

/var/folders/_t/2xhkkvpd70v6f_zb6myqk2l40000gn/T/ipykernel_13640/4289885866.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,21,22,24,25,26,27,28,29,32,33,34,35,36,37,38,40,41,45,46,47,48,50,51,52,53,54,57,59,60,61,63,64,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,137,141,147,156,173,199,200,201,202,203,204,205,206,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,254,255,256,257,258,259,260,261,262,265,266,267,268,269,270,271,272,273,274,275,276,278,279,280,281,282,285,286,288,289,290,291,292,293,296,297,298,299,300,301,302,304,305,309,310,311,312,314,315,316,317,318,321,323,324,325,327,328) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

,id,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr56.4,Attr57.4,Attr58.4,Attr59.4,Attr60.4,Attr61.4,Attr62.4,Attr63.4,Attr64.4,class.4
0,1.0,0.20055,0.37951,0.39641,2.0472,32.351,0.38825,0.24976,1.3305,1.1389,...,0.080955,0.27543,0.91905,0.002024,7.2711,4.7343,142.760,2.5568,3.2597,0.0
1,2.0,0.20912,0.49988,0.47225,1.9447,14.786,0,0.25834,0.99601,1.6996,...,-0.028591,-0.012035,1.00470,0.15222,6.0911,3.2749,111.140,3.2841,3.37,0.0
2,3.0,0.24866,0.69592,0.26713,1.5548,-1.1523,0,0.30906,0.43695,1.309,...,0.123960,0.19229,0.87604,0.0,8.7934,2.987,71.531,5.1027,5.6188,0.0
3,4.0,0.081483,0.30734,0.45879,2.4928,51.952,0.14988,0.092704,1.8661,1.0571,...,0.418840,-0.79602,0.59074,2.8787,7.6524,3.3302,147.560,2.4735,5.9299,0.0
4,5.0,0.18732,0.61323,0.2296,1.4063,-7.3128,0.18732,0.18732,0.6307,1.1559,...,0.240400,0.10716,0.77048,0.13938,10.118,4.095,106.430,3.4294,3.3622,0.0

In [6]:
df.columns

Index(['id', 'Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7',
       'Attr8', 'Attr9',
       ...
       'Attr56.4', 'Attr57.4', 'Attr58.4', 'Attr59.4', 'Attr60.4', 'Attr61.4',
       'Attr62.4', 'Attr63.4', 'Attr64.4', 'class.4'],
      dtype='object', length=330)

In [3]:
for i, col in enumerate(df.columns):
    print(i, col)

0 id
1 Attr1
2 Attr2
3 Attr3
4 Attr4
5 Attr5
6 Attr6
7 Attr7
8 Attr8
9 Attr9
10 Attr10
11 Attr11
12 Attr12
13 Attr13
14 Attr14
15 Attr15
16 Attr16
17 Attr17
18 Attr18
19 Attr19
20 Attr20
21 Attr21
22 Attr22
23 Attr23
24 Attr24
25 Attr25
26 Attr26
27 Attr27
28 Attr28
29 Attr29
30 Attr30
31 Attr31
32 Attr32
33 Attr33
34 Attr34
35 Attr35
36 Attr36
37 Attr37
38 Attr38
39 Attr39
40 Attr40
41 Attr41
42 Attr42
43 Attr43
44 Attr44
45 Attr45
46 Attr46
47 Attr47
48 Attr48
49 Attr49
50 Attr50
51 Attr51
52 Attr52
53 Attr53
54 Attr54
55 Attr55
56 Attr56
57 Attr57
58 Attr58
59 Attr59
60 Attr60
61 Attr61
62 Attr62
63 Attr63
64 Attr64
65 class
66 id.1
67 Attr1.1
68 Attr2.1
69 Attr3.1
70 Attr4.1
71 Attr5.1
72 Attr6.1
73 Attr7.1
74 Attr8.1
75 Attr9.1
76 Attr10.1
77 Attr11.1
78 Attr12.1
79 Attr13.1
80 Attr14.1
81 Attr15.1
82 Attr16.1
83 Attr17.1
84 Attr18.1
85 Attr19.1
86 Attr20.1
87 Attr21.1
88 Attr22.1
89 Attr23.1
90 Attr24.1
91 Attr25.1
92 Attr26.1
93 Attr27.1
94 Attr28.1
95 Attr29.1
96 Attr30.1
97 Attr31.1
98 Attr32.1
99 Attr33.1
100 Attr34.1
101 Attr35.1
102 Attr36.1
103 Attr37.1
104 Attr38.1
105 Attr39.1
106 Attr40.1
107 Attr41.1
108 Attr42.1
109 Attr43.1
110 Attr44.1
111 Attr45.1
112 Attr46.1
113 Attr47.1
114 Attr48.1
115 Attr49.1
116 Attr50.1
117 Attr51.1
118 Attr52.1
119 Attr53.1
120 Attr54.1
121 Attr55.1
122 Attr56.1
123 Attr57.1
124 Attr58.1
125 Attr59.1
126 Attr60.1
127 Attr61.1
128 Attr62.1
129 Attr63.1
130 Attr64.1
131 class.1
132 id.2
133 Attr1.2
134 Attr2.2
135 Attr3.2
136 Attr4.2
137 Attr5.2
138 Attr6.2
139 Attr7.2
140 Attr8.2
141 Attr9.2
142 Attr10.2
143 Attr11.2
144 Attr12.2
145 Attr13.2
146 Attr14.2
147 Attr15.2
148 Attr16.2
149 Attr17.2
150 Attr18.2
151 Attr19.2
152 Attr20.2
153 Attr21.2
154 Attr22.2
155 Attr23.2
156 Attr24.2
157 Attr25.2
158 Attr26.2
159 Attr27.2
160 Attr28.2
161 Attr29.2
162 Attr30.2
163 Attr31.2
164 Attr32.2
165 Attr33.2
166 Attr34.2
167 Attr35.2
168 Attr36.2
169 Attr37.2
170 Attr38.2
171 Attr39.2
172 Attr40.2
173 Attr41.2
174 Attr42.2
175 Attr43.2
176 Attr44.2
177 Attr45.2
178 Attr46.2
179 Attr47.2
180 Attr48.2
181 Attr49.2
182 Attr50.2
183 Attr51.2
184 Attr52.2
185 Attr53.2
186 Attr54.2
187 Attr55.2
188 Attr56.2
189 Attr57.2
190 Attr58.2
191 Attr59.2
192 Attr60.2
193 Attr61.2
194 Attr62.2
195 Attr63.2
196 Attr64.2
197 class.2
198 id.3
199 Attr1.3
200 Attr2.3
201 Attr3.3
202 Attr4.3
203 Attr5.3
204 Attr6.3
205 Attr7.3
206 Attr8.3
207 Attr9.3
208 Attr10.3
209 Attr11.3
210 Attr12.3
211 Attr13.3
212 Attr14.3
213 Attr15.3
214 Attr16.3
215 Attr17.3
216 Attr18.3
217 Attr19.3
218 Attr20.3
219 Attr21.3
220 Attr22.3
221 Attr23.3
222 Attr24.3
223 Attr25.3
224 Attr26.3
225 Attr27.3
226 Attr28.3
227 Attr29.3
228 Attr30.3
229 Attr31.3
230 Attr32.3
231 Attr33.3
232 Attr34.3
233 Attr35.3
234 Attr36.3
235 Attr37.3
236 Attr38.3
237 Attr39.3
238 Attr40.3
239 Attr41.3
240 Attr42.3
241 Attr43.3
242 Attr44.3
243 Attr45.3
244 Attr46.3
245 Attr47.3
246 Attr48.3
247 Attr49.3
248 Attr50.3
249 Attr51.3
250 Attr52.3
251 Attr53.3
252 Attr54.3
253 Attr55.3
254 Attr56.3
255 Attr57.3
256 Attr58.3
257 Attr59.3
258 Attr60.3
259 Attr61.3
260 Attr62.3
261 Attr63.3
262 Attr64.3
263 class.3
264 id.4
265 Attr1.4
266 Attr2.4
267 Attr3.4
268 Attr4.4
269 Attr5.4
270 Attr6.4
271 Attr7.4
272 Attr8.4
273 Attr9.4
274 Attr10.4
275 Attr11.4
276 Attr12.4
277 Attr13.4
278 Attr14.4
279 Attr15.4
280 Attr16.4
281 Attr17.4
282 Attr18.4
283 Attr19.4
284 Attr20.4
285 Attr21.4
286 Attr22.4
287 Attr23.4
288 Attr24.4
289 Attr25.4
290 Attr26.4
291 Attr27.4
292 Attr28.4
293 Attr29.4
294 Attr30.4
295 Attr31.4
296 Attr32.4
297 Attr33.4
298 Attr34.4
299 Attr35.4
300 Attr36.4
301 Attr37.4
302 Attr38.4
303 Attr39.4
304 Attr40.4
305 Attr41.4
306 Attr42.4
307 Attr43.4
308 Attr44.4
309 Attr45.4
310 Attr46.4
311 Attr47.4
312 Attr48.4
313 Attr49.4
314 Attr50.4
315 Attr51.4
316 Attr52.4
317 Attr53.4
318 Attr54.4
319 Attr55.4
320 Attr56.4
321 Attr57.4
322 Attr58.4
323 Attr59.4
324 Attr60.4
325 Attr61.4
326 Attr62.4
327 Attr63.4
328 Attr64.4
329 class.4

In [7]:
# Clean data
def extract_year(df, year):
    """
    year = 1 → Attr1 .. Attr64, class
    year = 2 → Attr1.1 .. Attr64.1, class.1
    year = 3 → Attr1.2 .. Attr64.2, class.2
    year = 4 → Attr1.3 .. Attr64.3, class.3
    year = 5 → Attr1.4 .. Attr64.4, class.4
    """

    suffix = "" if year == 1 else f".{year-1}"
    target_col = "class" if year == 1 else f"class.{year-1}"

    # feature columns
    feature_cols = [f"Attr{i}{suffix}" for i in range(1, 65)]

    # extract
    df_year = df[feature_cols + [target_col]].copy()

    # replace ? with NaN
    df_year = df_year.replace("?", np.nan)

    # convert to numeric
    for col in feature_cols:
        df_year[col] = pd.to_numeric(df_year[col], errors="coerce")

    # convert target
    df_year[target_col] = pd.to_numeric(df_year[target_col], errors="coerce").astype("Int64")

    # drop rows with missing values
    df_year = df_year.dropna()

    return df_year, feature_cols, target_col

In [9]:
# Print the amount of clean data
year_data = {}
for year in range(1, 6):
    df_year, feat_cols, tgt_col = extract_year(df, year)
    year_data[year] = df_year
    print(f"Year {year}:", df_year.shape)

Year 1: (3194, 65)
Year 2: (4088, 65)
Year 3: (4885, 65)
Year 4: (4769, 65)
Year 5: (3031, 65)

In [10]:
# Attr labels from site 
ratio_names = {
    "1": "net_profit_to_total_assets",
    "2": "total_liabilities_to_total_assets",
    "3": "working_capital_to_total_assets",
    "4": "current_assets_to_shortterm_liabilities",
    "5": "cash_stsec_recv_minus_stliabilities_to_op_exp_dep_days",
    "6": "retained_earnings_to_total_assets",
    "7": "ebit_to_total_assets",
    "8": "equity_book_value_to_total_liabilities",
    "9": "sales_to_total_assets",
    "10": "equity_to_total_assets",
    "11": "gross_profit_extra_finexp_to_total_assets",
    "12": "gross_profit_to_shortterm_liabilities",
    "13": "gross_profit_plus_dep_to_sales",
    "14": "gross_profit_plus_interest_to_total_assets",
    "15": "total_liabilities_to_gross_profit_dep_days",
    "16": "gross_profit_dep_to_total_liabilities",
    "17": "total_assets_to_total_liabilities",
    "18": "gross_profit_to_total_assets",
    "19": "gross_profit_to_sales",
    "20": "inventory_to_sales_days",
    "21": "sales_n_to_sales_n_minus_1",
    "22": "operating_profit_to_total_assets",
    "23": "net_profit_to_sales",
    "24": "gross_profit_3year_to_total_assets",
    "25": "equity_minus_share_capital_to_total_assets",
    "26": "net_profit_plus_dep_to_total_liabilities",
    "27": "operating_profit_to_financial_expenses",
    "28": "working_capital_to_fixed_assets",
    "29": "log_total_assets",
    "30": "total_liabilities_minus_cash_to_sales",
    "31": "gross_profit_plus_interest_to_sales",
    "32": "current_liabilities_to_cogs_days",
    "33": "operating_expenses_to_shortterm_liabilities",
    "34": "operating_expenses_to_total_liabilities",
    "35": "profit_on_sales_to_total_assets",
    "36": "total_sales_to_total_assets",
    "37": "current_assets_minus_inventory_to_longterm_liabilities",
    "38": "constant_capital_to_total_assets",
    "39": "profit_on_sales_to_sales",
    "40": "current_assets_minus_inventory_minus_receivables_to_shortterm_liabilities",
    "41": "total_liabilities_to_operating_profit_dep_12_365",
    "42": "operating_profit_to_sales",
    "43": "receivables_inventory_turnover_days",
    "44": "receivables_to_sales_days",
    "45": "net_profit_to_inventory",
    "46": "current_assets_minus_inventory_to_shortterm_liabilities",
    "47": "inventory_to_cogs_days",
    "48": "ebitda_to_total_assets",
    "49": "ebitda_to_sales",
    "50": "current_assets_to_total_liabilities",
    "51": "shortterm_liabilities_to_total_assets",
    "52": "shortterm_liabilities_to_cogs_days",
    "53": "equity_to_fixed_assets",
    "54": "constant_capital_to_fixed_assets",
    "55": "working_capital",
    "56": "gross_margin_sales_minus_cogs_to_sales",
    "57": "current_minus_inventory_minus_stliabilities_to_salesminusprofitminusdep",
    "58": "total_costs_to_total_sales",
    "59": "longterm_liabilities_to_equity",
    "60": "sales_to_inventory",
    "61": "sales_to_receivables",
    "62": "shortterm_liabilities_to_sales_days",
    "63": "sales_to_shortterm_liabilities",
    "64": "sales_to_fixed_assets"
}

In [ ]:
# Rename the Attr to the names above
rename_map = {}
for col in df_year.columns:
    if col.startswith("Attr"):
        number = col.replace("Attr", "").split(".")[0]  
        rename_map[col] = ratio_names[number]
    elif col.startswith("class"):
        rename_map[col] = "bankrupt"


The bankrupt column needs some explanation

It is 1 if the company goes bankrupt within the forecast horizon.

So if bankrupt.3  =1 , the company goes bankrupt within 2 years

In [13]:
# Store the data for each year sepperately
for year, df_year in year_data.items():
    df_year.to_csv(f"polish_bankruptcy_year{year}.csv", index=False)