In [8]:

import pandas as pd

url = "https://raw.githubusercontent.com/Vincent2308/Corporate-Bankruptcy/main/data/raw/U.S/american_bankruptcy_dataset.csv"
df = pd.read_csv(url)

df.head()

,company_name,fyear,status_label,X1,X2,X3,X4,X5,X6,X7,...,X11,X12,X13,X14,X15,X16,X17,X18,Division,MajorGroup
0,C_1,1999.0,alive,511267.0,740998.000,833107.0,180447.0,18373.00,70658.00,89031.000,...,35.163,201026.000,128.348,1024333.000,372.7519,401483.0,1024333.000,935302.0,D,37
1,C_1,2000.0,alive,485856.0,701.854,713811.0,179987.0,18577.00,45.79,64367.000,...,18531.000,204065.000,115187.000,874255.000,377.1180,361642.0,874255.000,809888.0,D,37
2,C_1,2001.0,alive,436656.0,710199.000,526477.0,217699.0,22496.00,4711.00,27207.000,...,-58.939,139.603,77528.000,638721.000,364.5928,399964.0,638721.000,611514.0,D,37
3,C_1,2002.0,alive,396412.0,686.621,496747.0,164658.0,27172.00,3573.00,30745.000,...,-12.410,124106.000,66322.000,606337.000,143.3295,391633.0,606337.000,575592.0,D,37
4,C_1,2003.0,alive,432204.0,709.292,523302.0,248666.0,26.68,20811.00,47.491,...,3504.000,131884.000,104661.000,651.958,308.9071,407608.0,651.958,604467.0,D,37

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78682 entries, 0 to 78681
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  78682 non-null  object
 1   fyear         78682 non-null  float64
 2   status_label  78682 non-null  object
 3   X1            78682 non-null  float64
 4   X2            78682 non-null  float64
 5   X3            78682 non-null  float64
 6   X4            78682 non-null  float64
 7   X5            78682 non-null  float64
 8   X6            78682 non-null  float64
 9   X7            78682 non-null  float64
 10  X8            78682 non-null  float64
 11  X9            78682 non-null  float64
 12  X10           78682 non-null  float64
 13  X11           78682 non-null  float64
 14  X12           78682 non-null  float64
 15  X13           78682 non-null  float64
 16  X14           78682 non-null  float64
 17  X15           78682 non-null  float64
 18  X16           78682 non-null  float64
 19  X17           78682 non-null  float64
 20  X18           78682 non-null  float64
 21  Division      78682 non-null  object
 22  MajorGroup    78682 non-null  int64
dtypes: float64(19), int64(1), object(3)
memory usage: 13.8+ MB

In [6]:
df.describe()

,fyear,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,MajorGroup
count,78682.000000,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,7.868200e+04,78682.000000
mean,2007.506317,2.133141e+05,5.994709e+05,3.797745e+05,1.508433e+05,2.471565e+04,4.426177e+04,6.942115e+04,1.723757e+05,5.102166e+04,1.233971e+05,1.397351e+04,4.788783e+04,6.791101e+04,5.488639e+05,4.482444e+05,3.517166e+05,5.488639e+05,4.761371e+05,45.181477
std,5.742768,7.016291e+05,2.065452e+06,2.021659e+06,7.115052e+05,9.778169e+04,2.240017e+05,2.847994e+05,6.007523e+05,2.204076e+05,4.877100e+05,1.978544e+05,8.134077e+05,2.582180e+05,2.369004e+06,5.110524e+06,1.359127e+06,2.369004e+06,2.079919e+06,19.812783
min,1999.000000,-2.498000e+03,7.000000e-03,-3.666450e+05,-2.300000e+01,0.000000e+00,-5.043795e+06,-4.512135e+06,-4.367571e+06,0.000000e+00,7.000000e-03,-1.605370e+07,-2.148494e+07,-6.000000e+00,-1.964999e+06,1.000000e-04,7.000000e-03,-1.964999e+06,-3.171970e+05,1.000000
25%,2002.000000,1.272000e+03,3.282525e+03,1.439100e+03,0.000000e+00,7.440000e+01,-7.677500e+02,-9.000000e+00,3.554325e+02,0.000000e+00,9.580750e+02,-2.636000e+03,-3.078750e+04,2.064025e+02,1.930780e+03,4.644980e+01,1.957025e+03,1.930780e+03,3.043000e+03,30.000000
50%,2007.000000,2.201650e+04,4.326650e+04,2.104450e+04,5.000000e+02,1.216000e+03,3.030000e+02,1.121900e+03,1.145950e+04,6.750000e+02,1.086600e+04,3.137400e+01,-5.985500e+00,4.106500e+03,3.281900e+04,3.727403e+02,1.798550e+04,3.281900e+04,3.701000e+04,38.000000
75%,2012.000000,1.539940e+05,3.293620e+05,1.808215e+05,1.601050e+04,1.234475e+04,1.909775e+04,3.325675e+04,1.099000e+05,1.677175e+04,6.928050e+04,8.379750e+03,2.215800e+04,3.840950e+04,2.997678e+05,3.097385e+03,1.497210e+05,2.997678e+05,2.625520e+05,59.000000
max,2018.000000,3.132258e+07,6.723494e+07,1.632456e+08,2.068708e+07,4.440438e+06,9.783515e+06,1.256672e+07,2.786440e+07,1.191851e+07,2.786969e+07,7.521731e+06,3.095666e+07,1.154206e+07,1.679396e+08,4.670929e+08,4.042171e+07,1.679396e+08,1.657008e+08,99.000000

In [9]:
df.isna().sum()

company_name    0
fyear           0
status_label    0
X1              0
X2              0
X3              0
X4              0
X5              0
X6              0
X7              0
X8              0
X9              0
X10             0
X11             0
X12             0
X13             0
X14             0
X15             0
X16             0
X17             0
X18             0
Division        0
MajorGroup      0
dtype: int64